<html>
  <link rel="stylesheet" type="text/css" href="style.css">

  <% include ../partials/header %>

  <title>Film 🎥</title>

  <% Object.keys(falls).forEach(function (id) { %>
    <film>
      <h2><%= falls[id].title %></h2>
      <img src=<%= falls[id].img %>>
      <p><a href=<%= falls[id].link %> target="_blank"><%= falls[id].title %> IMDB Page</a></p>
      <p>Release Date: <%= falls[id].release %></p>
    </film>
  <% }) %>

    <% include ../partials/footer %>
</html>
