<html>
  <link rel="stylesheet" type="text/css" href="style.css">

  <% include ../partials/header %>

  <title>Film 🎥</title>

  <% Object.keys(winters).forEach(function (id) { %>
    <film>
      <h2><%= winters[id].title %></h2>
      <img src=<%= winters[id].img %>>
      <p><a href=<%= winters[id].link %> target="_blank"><%= winters[id].title %> IMDB Page</a></p>
      <p>Release Date: <%= winters[id].release %></p>
    </film>
  <% }) %>

    <% include ../partials/footer %>
</html>
